@font-face {
  font-family: Arial;
  src: local('Arial'),
    url('/arial.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block
}

@font-face {
  font-family: Arial;
  src: local('Arial'),
    url('/arialitalic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: block
}

@font-face {
  font-family: Arial;
  src: local('Arial'),
    url('/arialbold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: block
}

nav,
main {
  font:123%/1.3 Arial;
  margin:3em 4%;
  max-width:50ch
}
h1,
h2 {
  margin:1.6em 0 1em;
  font-size:130%
}
blockquote,
aside {
  font-size:85%
}
a {
  color:#222
}
figure {
  padding: 0;
  margin: 1em 0 0;
  display: inline-block;
  vertical-align: top;
}
img.small {
  max-height: 270px;
  width: auto
}

img.regular {
  max-width: 505px;
  height: auto
}

img.medium {
  max-height: 600px;
  width: auto
}

img.large {
  max-width: 1010px;
  height: auto
}

@media (max-width:600px) {
  img.large,
  img.medium,
  img.regular,
  img.small {
    width:100%;
    height:auto;
    max-height:100%
  }
}