<footer>
    <table id="footer">
        <tbody>
            <tr>
                <td>
                    <p>Daniel Violin Lönnesjö</p>
                    <p>Artist<br />
                        Based in Haverdal, Sweden</p>
                    <p>
                        <a href="https://www.instagram.com/digginthenew/" target="_blank" rel="noopener nofollow"
                            title="Daniel Violin Lönnesjö Instagram">Instagram</a>
                    </p>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="/works/" title="List of work">Works</a>
                        </li>
                        <li>
                            <a href="/log/" title="List of articles">Articles</a>
                        </li>
                        <li>&nbsp;</li>
                        <li>

                            <a href="/about/" title="about">About</a>
                        </li>
                    </ul>


                    <!-- {% include "lang-switch.html" %} -->
                </td>
            </tr>
        </tbody>
    </table>
</footer>