<footer>
  <section>
    <p class="tertiary-text">
      &copy; {{ "now" | date: "%Y" }}, Daniel Violin Lönnesjö
    </p>
    <p class="tertiary-text">
      Last deploy:
      <time datetime="{{ deploy_info.latest_deployment_date }}">{{ deploy_info.latest_deployment_date | date: "%d %b %Y @ %H:%M" }}</time>
    </p>
  </section>
</footer>