---
layout: layouts/default
---

   <article>
        <header>
            <h1>About</h1>
        </header>
        <section>
            <h2>Daniel Violin Lönnesjö</h2>
            <p>
                Artist based in Haverdal, Sweden.
            </p>
            <p>
                Working across painting, drawing, and sculpture, Daniel’s practice is intuitive and energetic, creating
                work that feels spontaneous, physical, and alive.
            </p>
            <p>
                He is drawn to large-scale compositions where figuration meets abstraction and where painting, drawing,
                and sculptural thinking intersect. Bold gestures, layered surfaces, and dynamic forms explore movement,
                tension, and emotional presence.
            </p>
            <p>
                Experimentation drives his work. He combines oil, enamel, spray paint, and found objects across two- and
                three-dimensional pieces. Rather than seeking perfection, he focuses on capturing feeling—allowing
                honesty and imperfection to shape each work.
            </p>
        </section>
        <section>
            <h2 id="solo-desc">Solo exhibitions</h2>

            <table class="cv-table" title="List of solo exhibitions" aria-describedby="solo-desc">
                <thead>
                    <tr>
                        <th id="year-solo">Year</th>
                        <th id="desc-solo">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="year-solo">2020</td>
                        <td headers="desc-solo">Galleri 70, Halmstad.</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2 id="group-desc">Collection exhibitions</h2>
            <table class="cv-table" title="List of collection exhibitions" aria-describedby="group-desc">
                <thead>
                    <tr>
                        <th id="year-group">Year</th>
                        <th id="desc-group">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="year-group">
                            2025
                        </td>
                        <td headers="desc-group">Halland Art Association's jury-judged Spring Salon. Halland Art Museum,
                            Halmstad.
                        </td>
                    </tr>

                    <tr>
                        <td headers="year-group">
                            2023
                        </td>
                        <td headers="desc-group">ArtParty. Dramalogen, Halmstad.</td>
                    </tr>

                    <tr>
                        <td headers="year-group">
                            2014
                        </td>
                        <td headers="desc-group">Halland Art Association's jury-judged Spring Salon. Halland Art Museum,
                            Halmstad.
                        </td>
                    </tr>

                    <tr>
                        <td headers="year-group">
                            2013
                        </td>
                        <td headers="desc-group">Halland Art Association's jury-judged Spring Salon. Halland Art Museum,
                            Halmstad.
                        </td>
                    </tr>

                </tbody>
            </table>
        </section>
        <section>
            <h2 id="scholarships">Scholarships</h2>

            <table class="cv-table" title="List of scholarships" aria-describedby="scholarships">
                <thead>
                    <tr>
                        <th id="year-scholarships">Year</th>
                        <th id="desc-scholarships">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="year-scholarships">2025</td>
                        <td headers="desc-scholarships">Halland Art Association Spring Scholarship.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>