---
layout: layouts/default
---
<h1>Daniel Violin Lönnesjö</h1>

<article>
  {% assign image_ID = "joe001.jpg" %}
  {% assign image_className = "small" %}
  {% include "components/image" %}
</article>

<p>
  Artist based in Haverdal, Sweden.
</p>
<p>
  Working across painting, drawing, and sculpture, Daniel’s practice is intuitive and energetic, creating work that feels spontaneous, physical, and alive.
</p>
<p>
  He is drawn to large-scale compositions where figuration meets abstraction and where painting, drawing, and sculptural thinking intersect. Bold gestures, layered surfaces, and dynamic forms explore movement, tension, and emotional presence.
</p>
<p>
  Experimentation drives his work. He combines oil, enamel, spray paint, and found objects across two- and three-dimensional pieces. Rather than seeking perfection, he focuses on capturing feeling—allowing honesty and imperfection to shape each work.
</p>

<p>
  <a
    href="https://www.instagram.com/digginthenew/"
    target="_blank"
    rel="noopener nofollow"
    title="Daniel Violin Lönnesjö Instagram">Instagram</a>
</p>


{% comment %} <div id="portfolio">
              <article>
                {% assign image_ID = "joe001.jpg" %}
                {% assign image_alt = "Joe by the Book #001" %}
                {% assign image_className = "small" %}
                {% include "components/image" %}
              </article>
              <article>
                {% assign image_ID = "joe000.jpg" %}
                {% assign image_alt = "Joe by the Book #000" %}
                {% assign image_className = "regular" %}
                {% include "components/image" %}
              </article>
            </div>
            
            {% assign posts = collections.posts | reverse %}
{% include "components/posts.liquid" %} {% endcomment %}